.footer {
  padding-top: 3rem;
  background: linear-gradient(265.08deg, #95390C 14.9%, #5328A1 68.95%);
  border-radius: 0;
}
.footer h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  text-align: left;
  color: #FFFFFF;
}

.footer-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
  grid-template-columns: auto auto auto auto;
  margin-bottom: 72px;
}
.footer-grid ul li {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: none;
}
.footer-grid a {
  color: #E0E0E0;
  text-transform: none;
}

.mb-15 {
  margin-bottom: 15px;
}

.icons-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 24px auto 24px auto 24px 1fr;
  grid-template-columns: auto auto auto 1fr;
  grid-column-gap: 24px;
}
.icons-grid a {
  margin-top: 15px;
}

.footer-line {
  width: 100%;
  height: 2px;
  border: 1px solid #E0E0E0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0;
}

.low-menu {
  margin-top: 40px;
  padding-bottom: 2rem;
}
.low-menu li {
  margin-right: 16px;
}
.low-menu li a {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #E0E0E0;
  text-transform: none;
}

.flex-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 415px) {
  .flex-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0;
  }
  .flex-footer li {
    margin-bottom: 15px;
  }

  .low-menu {
    margin-top: 20px;
  }

  .mb-30 {
    margin-bottom: 30px;
  }

  .footer-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: none;
    grid-template-columns: none;
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
  }

  .footer-grid > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .footer-grid > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .footer-grid > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .footer-grid > *:nth-child(4) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
}