.footer {
  width: 100%;
  padding-top: 3rem;
  background: linear-gradient(265.08deg, #95390C 14.9%, #5328A1 68.95%);
  border-radius: 0;
}
.footer h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  text-align: left;
  color: #FFFFFF;
  margin-bottom: 18px;
}

.footer-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 40px auto 40px auto 40px auto;
  grid-template-columns: auto auto auto auto;
  margin-bottom: 72px;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
.footer-grid ul li {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: none;
}
.footer-grid a {
  color: #E0E0E0;
  text-transform: none;
}

.ta-left {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: none;
  text-align: left;
  color: #E0E0E0;
}

.mb-15 {
  margin-bottom: 15px;
}

.icons-footer {
  display: inline;
  margin-right: 24px;
}
.icons-footer a {
  margin-top: 15px;
}

.mr-16 {
  margin-right: 16px;
}

.footer-line {
  margin-bottom: 37px;
  margin-top: 9px;
  border: 1px solid #E0E0E0;
}

.low-menu {
  padding-bottom: 2rem;
}
.low-menu a {
  margin-right: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #E0E0E0;
  text-transform: none;
}

.flex-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 415px) {
  .flex-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0;
  }
  .flex-footer li {
    margin-bottom: 15px;
  }

  .mb-16 {
    margin-bottom: 16px;
  }

  .low-menu {
    margin-top: 20px;
  }

  .mb-30 {
    margin-bottom: 30px;
  }

  .footer-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: none;
    grid-template-columns: none;
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
  }

  .footer-grid > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .footer-grid > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .footer-grid > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .footer-grid > *:nth-child(4) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
}