.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header .menu ul li {
  padding-right: 24px;
}
.header .menu ul a {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 16px;
  color: #FFFFFF;
}
.header .text {
  padding-left: 16px;
  padding-right: 90px;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 16px;
  color: #FFFFFF;
}
.header .search {
  width: 248px;
  height: 25px;
  margin-left: 425px;
  padding-left: 10px;
  background-color: #3C3B3D;
  border-radius: 50px;
}

.mr-24 {
  margin-right: 22px;
}

@media only screen and (max-width: 415px) {
  .container {
    padding: 20px 20px 20px 20px;
  }

  .header {
    display: inline-block;
    margin-top: 0;
    font-size: 11px;
    line-height: 13px;
    font-weight: 700;
  }
  .header .text {
    position: relative;
    bottom: 20px;
    left: 16px;
  }
  .header .menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .search {
    width: 374px;
    margin-left: 0px;
    margin-top: 18px;
  }
}
.footer {
  padding-top: 3rem;
  background: linear-gradient(265.08deg, #95390C 14.9%, #5328A1 68.95%);
  border-radius: 0;
}

.footer-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
  grid-template-columns: auto auto auto auto;
  margin-bottom: 72px;
}
.footer-grid ul {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
}
.footer-grid ul li {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.footer-grid ul li:first-child {
  margin-top: 15px;
}
.footer-grid ul li a {
  color: #E0E0E0;
  text-transform: none;
}

.icons-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 24px auto 24px auto 24px 1fr;
  grid-template-columns: auto auto auto 1fr;
  grid-column-gap: 24px;
}
.icons-grid li {
  margin-top: 15px;
}

.footer-line {
  width: 100%;
  height: 2px;
  border: 1px solid #E0E0E0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0;
}

.low-menu {
  margin-top: 40px;
  padding-bottom: 2rem;
}
.low-menu ul li {
  margin-right: 16px;
}
.low-menu ul li a {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #E0E0E0;
  text-transform: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 415px) {
  .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0;
  }

  .low-menu {
    margin-top: 20px;
  }
  .low-menu li {
    margin-top: 16px;
  }

  .footer-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: none;
    grid-template-columns: none;
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
  }

  .footer-grid > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .footer-grid > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .footer-grid > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .footer-grid > *:nth-child(4) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }

  .mt-30 {
    margin-top: 30px;
  }
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

@font-face {
  font-weight: 700;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-weight: 500;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.ttf");
}
@font-face {
  font-weight: 400;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}
h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 90px;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-weight: 700;
  font-size: 38px;
  line-height: 57px;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
}

h3 {
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  text-transform: none;
  color: #FFFFFF;
}

@media only screen and (max-width: 415px) {
  h1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    text-transform: uppercase;
  }

  h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-transform: none;
    color: #FFFFFF;
  }
}
body {
  color: #cacaca;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.section {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.section::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  min-height: 950px;
  background-image: url("../images/banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  content: " ";
}

.section-artist {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.section-artist::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  min-height: 950px;
  background-image: url("../images/Morten Harket.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  content: " ";
}