header {
  position: absolute;
  z-index: 3;
  margin-top: 25px;
  left: 80px;
}

.fc-white {
  color: #FFFFFF;
}

.fc-main {
  color: #cacaca;
}

.mtb-11 {
  margin-top: 11px;
  margin-bottom: 11px;
}

.mt-11 {
  margin-top: 11px;
}

header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
header .menu a {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 16px;
  margin-right: 24px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.text {
  margin-left: 16px;
  margin-right: 90px;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 16px;
  color: #FFFFFF;
}

.search {
  width: 248px;
  height: 25px;
  margin-left: 415px;
  padding-left: 10px;
  background-color: #3C3B3D;
  border-radius: 50px;
  text-transform: uppercase;
}

.mr-24 {
  margin-right: 24px;
}

@media only screen and (max-width: 1125px) {
  .mtb-11 {
    margin-top: 0;
    margin-bottom: 0;
  }

  header {
    left: 0;
  }
  header .search {
    margin-left: 0;
  }
}
@media only screen and (max-width: 415px) {
  .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .mr-24 {
    margin-right: 0x;
  }

  header {
    display: inline-block;
    padding-top: 0;
    font-size: 11px;
    line-height: 13px;
    font-weight: 700;
    margin-bottom: 0;
    width: 100%;
  }
  header .text {
    position: relative;
    bottom: 20px;
    left: 25px;
    margin-right: 300px;
  }
  header .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .menu a {
    margin-right: 0;
  }
  header nav {
    margin-right: 300px;
  }
  header .search {
    width: 374px;
    margin-left: 0px;
    margin-top: 15px;
  }

  .mt-11 {
    margin-top: 0;
  }
}
.footer {
  width: 100%;
  padding-top: 62px;
  background: linear-gradient(265.08deg, #95390C 14.9%, #5328A1 68.95%);
  border-radius: 0;
}
.footer h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  text-align: left;
  color: #FFFFFF;
  margin-bottom: 15px;
}

.footer-grid {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 30px;
  grid-column-gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  row-gap: 30px;
  margin-bottom: 72px;
}
.footer-grid ul li {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: none;
}
.footer-grid a {
  color: #E0E0E0;
  text-transform: none;
}

.ta-left {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: none;
  text-align: left;
  color: #E0E0E0;
}

.mb-15 {
  margin-bottom: 15px;
}

.icons-footer {
  display: inline;
  margin-right: 24px;
}
.icons-footer a {
  margin-top: 15px;
}

.mr-16 {
  margin-right: 16px;
}

.footer-line {
  border: 1px solid #E0E0E0;
}

.low-menu {
  padding-bottom: 48px;
  margin-top: 40px;
}
.low-menu a {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #E0E0E0;
  text-transform: none;
}

.flex-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 415px) {
  footer .mr-16 {
    margin-right: 16px;
  }

  .flex-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0;
  }
  .flex-footer li {
    margin-bottom: 15px;
  }

  .mb-16 {
    margin-bottom: 16px;
  }

  .footer-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: none;
    grid-template-columns: none;
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    margin-bottom: 75px;
  }

  .footer-grid > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .footer-grid > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .footer-grid > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .footer-grid > *:nth-child(4) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

@font-face {
  font-weight: 700;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-weight: 500;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.ttf");
}
@font-face {
  font-weight: 400;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}
h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 90px;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
}

h2 {
  font-weight: 700;
  font-size: 38px;
  line-height: 57px;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
}

h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
  text-transform: uppercase;
}

h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
  text-transform: uppercase;
}

body {
  color: #cacaca;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  background: #08020d;
}

html {
  font-size: 16px;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px 0 20px;
  position: relative;
  z-index: 2;
}

@media only screen and (max-width: 415px) {
  h1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    text-transform: uppercase;
  }

  h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-transform: uppercase;
  }
}