header {
  position: absolute;
  z-index: 3;
  margin-top: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
header .menu ul li {
  padding-right: 24px;
}
header .menu ul a {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 16px;
  color: #FFFFFF;
}
header .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .text {
  padding-left: 16px;
  padding-right: 90px;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 16px;
  color: #FFFFFF;
}
header .search {
  width: 248px;
  height: 25px;
  margin-left: 425px;
  padding-left: 10px;
  background-color: #3C3B3D;
  border-radius: 50px;
}

.mr-24 {
  margin-right: 22px;
}

@media only screen and (max-width: 1125px) {
  header .search {
    margin-left: 0;
  }
}
@media only screen and (max-width: 415px) {
  .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  header {
    display: inline-block;
    padding-top: 0;
    font-size: 11px;
    line-height: 13px;
    font-weight: 700;
  }
  header .text {
    position: relative;
    bottom: 20px;
    left: 16px;
  }
  header .menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .search {
    width: 374px;
    margin-left: 0px;
    margin-top: 18px;
  }
}
.footer {
  padding-top: 3rem;
  background: linear-gradient(265.08deg, #95390C 14.9%, #5328A1 68.95%);
  border-radius: 0;
}

.footer-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
  grid-template-columns: auto auto auto auto;
  margin-bottom: 72px;
}
.footer-grid ul li {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.footer-grid a {
  color: #E0E0E0;
  text-transform: none;
}

.mb-15 {
  margin-bottom: 15px;
}

.fs-18 {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
}

.icons-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 24px auto 24px auto 24px 1fr;
  grid-template-columns: auto auto auto 1fr;
  grid-column-gap: 24px;
}
.icons-grid a {
  margin-top: 15px;
}

.footer-line {
  width: 100%;
  height: 2px;
  border: 1px solid #E0E0E0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0;
}

.low-menu {
  margin-top: 40px;
  padding-bottom: 2rem;
}
.low-menu li {
  margin-right: 16px;
}
.low-menu li a {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #E0E0E0;
  text-transform: none;
}

.flex-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 415px) {
  .flex-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0;
  }
  .flex-footer li {
    margin-bottom: 15px;
  }

  .low-menu {
    margin-top: 20px;
  }

  .mb-30 {
    margin-bottom: 30px;
  }

  .footer-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: none;
    grid-template-columns: none;
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
  }

  .footer-grid > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .footer-grid > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .footer-grid > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .footer-grid > *:nth-child(4) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

@font-face {
  font-weight: 700;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-weight: 500;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.ttf");
}
@font-face {
  font-weight: 400;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}
h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 90px;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
}

h2 {
  font-weight: 700;
  font-size: 38px;
  line-height: 57px;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
}

h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 45px;
  text-transform: none;
  color: #FFFFFF;
}

@media only screen and (max-width: 415px) {
  h1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    text-transform: uppercase;
  }

  h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: none;
    color: #FFFFFF;
  }
}
body {
  color: #cacaca;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

.container {
  max-width: 1240px;
  padding: 0 20px 0 20px;
  position: relative;
  z-index: 2;
}

#page-description {
  width: 100%;
  position: relative;
  overflow: hidden;
}

#page-description::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  min-height: 950px;
  background-image: url("../images/MortenHarket.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  content: " ";
}

#page-description {
  padding-top: 200px;
  padding-bottom: 200px;
}
#page-description h1 {
  color: #FFFFFF;
  text-align: left;
}

.fs-16 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #FFFFFF;
}

button {
  margin-top: 48px;
  width: 200px;
  height: 62px;
  border-radius: 5px;
  font-size: 12.8px;
  line-height: 19px;
  font-weight: 400;
  color: #FFFFFF;
}

.btn-purple {
  background-color: #5328A1;
}

.mr-24 {
  margin-right: 24px;
}

.btn-red {
  background-color: #95390C;
}

.mr-21 {
  margin-right: 21px;
}

.pl-30 {
  text-align: left;
}

#page-popular-track {
  background: #08020d;
  padding-top: 100px;
}
#page-popular-track h2 {
  text-align: left;
  margin-bottom: 48px;
}

.flex-artist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popular-track {
  margin-bottom: 15px;
}

.ml-15 {
  margin-left: 15px;
}

.mr-368 {
  margin-right: 368px;
}

.mr-373 {
  margin-right: 373px;
}

.mr-331 {
  margin-right: 331px;
}

.mr-363 {
  margin-right: 363px;
}

.mr-337 {
  margin-right: 337px;
}

.fs-12 {
  font-size: 12.8px;
  line-height: 19px;
  font-weight: 700;
  color: #FFFFFF;
}

.fw-400 {
  font-size: 12.8px;
  line-height: 19px;
  font-weight: 400;
  color: #E0E0E0;
  text-transform: none;
}

.mr-50 {
  margin-right: 50px;
}

.mb-0 {
  margin-bottom: 0;
}

@media only screen and (max-width: 415px) {
  .mr-368 {
    margin-right: 191px;
  }

  .mr-373 {
    margin-right: 196px;
  }

  .mr-331 {
    margin-right: 154px;
  }

  .mr-363 {
    margin-right: 186px;
  }

  .mr-337 {
    margin-right: 160px;
  }

  .mr-50 {
    margin-right: 0px;
  }

  .mb-15 {
    margin-bottom: 15px;
  }
}
#page-discography {
  background: #08020d;
  padding-top: 100px;
}
#page-discography h2 {
  text-align: left;
  margin-bottom: 48px;
}
#page-discography br {
  display: none;
}

.fs-18 {
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  color: #FFFFFF;
}

.tt-none {
  text-transform: none;
}

.fs-16 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #FFFFFF;
  text-transform: none;
}

.fc-grey {
  color: #E0E0E0;
}

.mt-18 {
  margin-top: 18px;
}

.discography-item {
  margin-right: 50px;
  margin-bottom: 25px;
}

@media only screen and (max-width: 415px) {
  #page-discography img {
    width: 137px;
  }
  #page-discography br {
    display: initial;
  }

  .mr-0 {
    margin-right: 0px;
  }
}
#page-similar {
  background: #08020d;
  padding-top: 100px;
  padding-bottom: 100px;
}
#page-similar h2 {
  text-align: left;
  margin-bottom: 48px;
}
#page-similar br {
  display: none;
}

.ta-center {
  text-align: center;
}

.similar-item {
  margin-right: 50px;
  margin-bottom: 25px;
}

@media only screen and (max-width: 415px) {
  #page-similar img {
    width: 137px;
  }
  #page-similar br {
    display: initial;
  }
}