@import "variables.scss";

.footer {
  width: 100%;
  padding-top: 62px;

  background: linear-gradient(265.08deg, $red 14.9%, $purple 68.95%);
  border-radius: 0;

  h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: $white;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
}

.footer-grid {
  display: grid;
  grid-row-gap: 30px;
  grid-column-gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  margin-bottom: 72px;

  ul li {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-transform: none;
  }

  a {
    color: $grey;
    text-transform: none;
  }
}

.ta-left {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $grey;
  text-align: left;
  text-transform: none;
}

.mb-15 {
  margin-bottom: 15px;
}

.icons-footer {
  display: inline;
  margin-right: 24px;

  a {
    margin-top: 15px;
  }
}

.mr-16 {
  margin-right: 16px;
}

.footer-line {
  border: 1px solid $grey;
}

.low-menu {
  margin-top: 40px;
  padding-bottom: 48px;

  a {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $grey;
    text-transform: none;
  }
}

.flex-footer {
  display: flex;
}

@media only screen and (max-width: 415px) {
  .footer {
    h2 {
      margin-bottom: 16px;
    }

    .mr-16 {
      margin-right: 16px;
    }
  }

  .flex-footer {
    flex-direction: column;
    margin-bottom: 0;

    li{
      margin-bottom: 15px;
    }
  }

  .mb-16 {
    margin-bottom: 16px;
  }

  .footer-grid {
    margin-bottom: 76px;
  }

  .icons-footer:last-child {
    margin-right: 0;
  }
}
