@import"variables.scss";

header {
  position: absolute;
  z-index: 3;
  margin-top: 25px;
  left: 80px;
}
.fc-white {
  color: $white;
}
.fc-main {
  color: $main;
}

.mtb-11 {
  margin-top: 11px;
  margin-bottom: 11px;
}
.mt-11 {
  margin-top: 11px;
}
header {
.menu  {
  display: flex;
  flex-wrap: wrap;

a {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 16px;
  margin-right: 24px;

}
}
}
.flex {
  display:flex;
}
.text {
  margin-left: 16px;
  margin-right: 90px;

  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 16px;
  color: $white;
}

.search {
  width: 248px;
  height: 25px;

  margin-left: 415px;
  padding-left: 10px;

  background-color: $dark;
  border-radius: 50px;
  text-transform: uppercase;

}


.mr-24 {
  margin-right: 24px;
}

@media only screen and (max-width: 1125px) {
.mtb-11 {
  margin-top: 0;
  margin-bottom: 0;
}
header {
  left: 0;
  //padding:0 20px 0 20px;
.search{
  margin-left: 0;
}

}
}

@media only screen and (max-width: 415px) {

.flex {
  flex-direction: column;

}

header {
  display: inline-block;
  padding-top: 0;
  font-size: 11px;
  line-height: 13px;
  font-weight: 700;

.text {
  position: relative;
  bottom: 20px;
  left: 16px;
  margin-right: 300px;
}

.menu {
  flex-direction: column;
a {
  margin-right: 0;
}
}
nav {
  margin-right: 300px;
}

.search {
  width: 374px;
  margin-left: 0px;
  margin-top: 18px;
}
}
}