@import"variables.scss";

header {
  position: absolute;
  z-index: 3;
  margin-top: 25px;
  align-items: center;
}

header {
.menu ul {
  display: flex;
  flex-wrap: wrap;
li {
  padding-right: 24px;
}

a {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 16px;
  color: $white;
}
}

.flex {
  display:flex;
}
.text {
  padding-left: 16px;
  padding-right: 90px;

  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 16px;
  color: $white;
}

.search {
  width: 248px;
  height: 25px;

  margin-left: 425px;
  padding-left: 10px;

  background-color: $dark;
  border-radius: 50px;

}
}

.mr-24 {
  margin-right: 22px;
}

@media only screen and (max-width: 1125px) {
header {
.search{
  margin-left: 0;
}
}
}

@media only screen and (max-width: 415px) {

.flex {
  flex-direction: column;

}
header {
  display: inline-block;
  padding-top: 0;
  font-size: 11px;
  line-height: 13px;
  font-weight: 700;

.text {
  position: relative;
  bottom: 20px;
  left: 16px;
}

.menu ul {
  flex-direction: column;
}

.search {
  width: 374px;
  margin-left: 0px;
  margin-top: 18px;
}
}
}