@import "variables.scss";

.fc-white {
  color: $white;
}

.fc-main {
  color: $main;
}

.mtb-11 {
  margin-top: 11px;
  margin-bottom: 11px;
}

.mt-11 {
  margin-top: 11px;
}

header {
position: absolute;
left: 80px;
z-index: 3;

margin-top: 25px;

  .menu {
    display: flex;
    flex-wrap: wrap;

    a {
      font-weight: normal;
      font-style: normal;
      font-size: 11px;
      line-height: 16px;

      margin-right: 24px;
    }
  }
}

.flex {
  display: flex;
}

.text {
  margin-right: 90px;
  margin-left: 16px;

  font-weight: normal;
  font-style: normal;
  font-size: 10px;
  color: $white;
  line-height: 16px;
}

.search {
  width: 248px;
  height: 25px;

  margin-left: 415px;
  padding-left: 10px;

  text-transform: uppercase;

  background-color: $dark;
  border-radius: 50px;
}

.mr-24 {
  margin-right: 24px;
}

@media only screen and (max-width: 1125px) {
  .mtb-11 {
    margin-top: 0;
    margin-bottom: 0;
  }

  header {
    left: 0;

    .search {
      margin-left: 0;
    }
  }
}

@media only screen and (max-width: 415px) {

  .flex {
    flex-direction: column;
  }

  .mr-24 {
    margin-right: 0;
  }

  header {
    display: inline-block;

    font-size: 11px;
    line-height: 13px;
    font-weight: 700;

    width: 100%;
    margin-bottom: 0;
    padding-top: 0;

    .text {
      position: relative;
      bottom: 20px;
      left: 25px;

      margin-right: 300px;
    }

    .menu {
        flex-direction: column;

      a {
          margin-right: 0;
      }
    }

    nav {
      margin-right: 300px;
    }

    .search {
      width: 374px;
      margin-top: 15px;
      margin-left: 0;
    }
  }

  .mt-11 {
    margin-top: 0;
  }
}
