@import "variables.scss";
@import "general.scss";


#page-description {
  width: 100%;
  position: relative;
  overflow: hidden;
  top: 0;
  //left: 0;
  z-index: 1;

  display: block;
  //min-height: 950px;

  background-image: url('../images/MortenHarket.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#page-description {
  padding-top: 200px;
  padding-bottom: 200px;

.container {
  margin-left: 80px;
}

.mt-50 {
  margin-top: 50px;
}
h1 {
  color: $white;
  text-align: left;
  margin-bottom: 16px;
}
}

@mixin  fontfamily ($fs, $lh, $fw, $fc) {
  font-size: $fs;
  line-height: $lh;
  font-weight: $fw;
  color: $fc;
}

.fs-16{
  @include fontfamily (16px, 24px, 400, $white);
}

 button {
  position: relative;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-top: 48px;
  width: 200px;
  height: 62px;
  padding: 20px 30px 20px 30px; 

  @include fontfamily (12.8px, 19px, 400, $white);
text-transform: uppercase;
img {
  position: absolute;
  left: 30px;
  filter: brightness(0) invert(1);
}
}

.btn {
  border-radius: 5px;
  padding: 20px 30px 20px 30px; 
}

.btn-purple {
  background-color: $purple;
}

.mr-rem {
  margin-right: 1.5rem;
}

.btn-red {
  background-color: $red;
}
/*.ml-15 {
  margin-left: 15px;
}
.ml-10 {
  margin-left: -30px;
}*/

.pl-30 {
  text-align: left;
}

@media only screen and (max-width: 415px) {
#page-description {
  padding-left: 0;
.mt-50 {
  margin-top: 25px;
}
//h1{
  //margin-top: 25px;
//}
.container {
  margin-left: 0;
}
}
 button {
  margin-top: 24px;
}
}

#page-popular-track {
  width: 100%;
  background: $bgcolor;
  padding-top: 100px;

h2 {
  text-align: left;
  margin-bottom: 48px;
}
}

.flex-artist {
  display: flex;
  flex-wrap: wrap;
}

.flex-row {
  display: flex;
}

.popular-track {
  margin-bottom: 25px;
}

.ml-15 {
  margin-left: 15px;
}

.mr-368 {
  margin-right: 368px;
}

.mr-373 {
  margin-right: 373px;
}

.mr-331 {
  margin-right: 331px;
}

.mr-363 {
  margin-right: 363px;
}

.mr-337 {
  margin-right: 337px;
}

.fs-12 {
   @include fontfamily (12.8px, 19.2px, 700, $white);
}

.fw-400 {
  @include fontfamily (12.8px, 19.2px, 400, $grey);
  text-transform: none;
}

.mr-50 {
  margin-right: 50px;
}
.mb-0 {
  margin-bottom: 0;
}

@media only screen and (max-width: 415px) {

.popular-track {
  margin-bottom: 25px;
}
.mr-368 {
  margin-right: 191px;
}

.mr-373 {
  margin-right: 196px;
}

.mr-331 {
  margin-right: 154px;
}

.mr-363 {
  margin-right: 186px;
}

.mr-337 {
  margin-right: 160px;
}

.mr-50 {
  margin-right: 0px;
}
.mbmobile-0 {
  margin-bottom: 0;
}
.mt-10 {
  margin-top: 10px;
}
}


#page-discography {
  background: $bgcolor;
  padding-top: 100px;

h2 {
  text-align: left;
  margin-bottom: 48px;
}

br {
  display: none;
}
}
.tt-cap {
  text-transform: capitalize;
}
.fs-18 {
  @include fontfamily (18px, 27px, 700, $white);
}

.tt-none {
  text-transform: none;
}

.fs-16 {
  @include fontfamily (16px, 24px, 400, $white);
  text-transform: none;

}
.fc-grey {
  color: $grey;
}

.mt-18 {
 margin-top: 18px;
}

.discography-item {
  margin-right: 50px;
  margin-bottom: 25px;
}

@media only screen and (max-width: 415px){
#page-discography{
img {
  width: 137px;
}

br {
  display: initial;
}
}

.mr-0 {
  margin-right: 0px;
}
}

#page-similar {
  background: $bgcolor;
  padding-top: 100px;
  //margin-bottom: 100px;

h2 {
  text-align: left;
  margin-bottom: 48px;
}

br {
  display: none;
}
}

.ta-center {
  text-align: center;
}

.similar-item {
  margin-right: 50px;
  margin-bottom: 25px;
}

@media only screen and (max-width: 415px){
#page-similar {
img {
  width: 137px;
}

br {
  display: initial;
}
}
}
