@import "variables.scss";
@import "general.scss";

#page-description {
  margin-top: 200px;
  margin-bottom: 200px;

h1 {
  color: $white;
  text-align: left;
}
}

@mixin  fontfamily ($fs, $lh, $fw, $fc) {
  font-size: $fs;
  line-height: $lh;
  font-weight: $fw;
  color: $fc;
}

.fs-16{
  @include fontfamily (16px, 24px, 400, $white);
}

 button {
  margin-top: 48px;
  width: 200px;
  height: 62px;
  border-radius: 5px;

  @include fontfamily (12.8px, 19px, 400, $white);

}

.btn-purple {
  background-color: $purple;
}

.mr-24 {
  margin-right: 24px;
}

.icon::before {
  content: "";
  background-image: url('../images/icons/play-button.svg');
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.btn-red {
  background-color: $red;
}

.mr-21 {
  margin-right: 21px;
}

.pl-30 {
  text-align: left;
}

@media only screen and (max-width: 415px) {
#page-description {
  margin-top: 55px;
}
}

#page-popular-track {
  background: $bgcolor;
  padding-top: 100px;

h2 {
  text-align: left;
  margin-bottom: 48px;
}
}

.flex-artist {
  display: flex;
  flex-wrap: wrap;
}

.flex-row {
  display: flex;
}

.popular-track {
  margin-bottom: 15px;
}

.ml-15 {
  margin-left: 15px;
}

.mr-368 {
  margin-right: 368px;
}

.mr-373 {
  margin-right: 373px;
}

.mr-331 {
  margin-right: 331px;
}

.mr-363 {
  margin-right: 363px;
}

.mr-337 {
  margin-right: 337px;
}

.fs-12 {
   @include fontfamily (12.8px, 19px, 700, $white);
}

.fw-400 {
  @include fontfamily (12.8px, 19px, 400, $grey);
  text-transform: none;
}

.mr-50 {
  margin-right: 50px;
}
.mb-0 {
  margin-bottom: 0;
}

@media only screen and (max-width: 415px) {

.mr-368 {
  margin-right: 191px;
}

.mr-373 {
  margin-right: 196px;
}

.mr-331 {
  margin-right: 154px;
}

.mr-363 {
  margin-right: 186px;
}

.mr-337 {
  margin-right: 160px;
}

.mr-50 {
  margin-right: 0px;
}

.mb-15 {
  margin-bottom: 15px;
}
}


#page-discography {
  background: $bgcolor;
  padding-top: 100px;

h2 {
  text-align: left;
  margin-bottom: 48px;
}

br {
  display: none;
}
}

.fs-18 {
  @include fontfamily (18px, 27px, 700, $white);
}

.tt-none {
  text-transform: none;
}

.fs-16 {
  @include fontfamily (16px, 24px, 400, $white);
  text-transform: none;

}
.fc-grey {
  color: $grey;
}

.mt-18 {
 margin-top: 18px;
}

.discography-item {
  margin-right: 50px;
  margin-bottom: 25px;
}

@media only screen and (max-width: 415px){
#page-discography{
img {
  width: 137px;
}

br {
  display: initial;
}
}

.mr-0 {
  margin-right: 0px;
}
}

#page-similar {
  background: $bgcolor;
  padding-top: 100px;
  padding-bottom: 100px;

h2 {
  text-align: left;
  margin-bottom: 48px;
}

br {
  display: none;
}
}

.ta-center {
  text-align: center;
}

.similar-item {
  margin-right: 50px;
  margin-bottom: 25px;
}

@media only screen and (max-width: 415px){
#page-similar {
img {
  width: 137px;
}

br {
  display: initial;
}
}
}
